<footer class="footer">
  <div class="container-fluid clearfix">
    <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">
      Derechos reservados © 2021
      <a href="http://fernando-herrera.com" target="_blank"> Carlos Torres</a>.
    </span>
  </div>
</footer>
